# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
packages/database/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# docker volumes (local dev)
infra/data/

# misc
*.pem
.eslintcache
